---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<h2>At a glance</h2>

<section class="card">
  <h3>Languages</h3>
  <div class="flex-container">
    {
      project.data.languages.map((lang) => (
        <div class="badge outline">{lang.id}</div>
      ))
    }
  </div>

  <h3>Frameworks and Technologies</h3>
  <div class="flex-container">
    {
      project.data.frameworks.map((framework) => (
        <div class="badge outline">{framework.id}</div>
      ))
    }
  </div>
</section>

<style>
  .flex-container {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
</style>