.project-filter-section {
  margin-block: var(--space-8);

  .filter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-2);

    @media (min-width: 32rem) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: 64rem) {
      grid-template-columns: repeat(8, 1fr);
    }

    @media (min-width: 72rem) {
      grid-template-columns: repeat(10, 1fr);
    }

    li {
      display: grid;
      grid-template-rows: subgrid;
    }
  }

  .filter-button {
    display: grid;
    grid-template-rows: subgrid;
    background: var(--muted);
    color: var(--muted-foreground);

    img {
      width: 55px;
      padding: 0.3rem;
    }

    &.active {
      border: 2px solid var(--ring);
    }
  }

  .filter-button.all {
    font-size: var(--text-5);
    font-weight: var(--font-bold);
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);

    @media (min-width: 32rem) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 40rem) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 64rem) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
