.h1 {
    @apply text-3xl sm:text-4xl font-extrabold;
}

.h2 {
    @apply text-xl sm:text-2xl font-extrabold;
}

.subheader {
    @apply font-semibold  text-xl;
}

.hero {
    @apply min-h-[35%];
}

.mini-headline {
    @apply font-extrabold;
}
