---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col min-w-full md:w-screen max-w-[90%] lg:max-w-[70%]">
    <div class="flex flex-col gap-5">
      <h1 class="h1">German Sucks</h1>
      <p>Generate random long German words.</p>
      <a class="btn btn-neutral max-w-md" href="/apps/germansucks/privacy">App Privacy Policy</a>
    </div>
  </div>
</Layout>
