---

---

<div class="hero p-5 md:p-20 bg-base-200 rounded-lg shadow-lg">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      alt="screenshot of source code in an IDE on a dark background"
      src="/fake_code_photo.webp"
      class="max-w-xs rounded-lg shadow-2xl"
    />
    <div>
      <h2 class="h2 font-bold">Projects</h2>
      <p class="py-6">
        My small portfolio of things I built using those technologies.
      </p>
      <a class="btn btn-secondary" href="/projects">Go to Section</a>
    </div>
  </div>
</div>
<style>
  .hero {
    min-height: 20%;
  }
</style>
