---
import { Image } from "astro:assets";
import fakeCodePhoto from "../../../assets/images/fake_code_photo.webp";
---

<div class="hero card my-4">
  <div class="hero-content">
    
    <Image
      src={fakeCodePhoto}
      class="hero-image"
      alt="IDE with code on a dark screen"
      loading={"lazy"}
    />
    
    <div>
      <h2>Projects</h2>
      <p>
        My small portfolio of things I built using those technologies.
      </p>
      <a class="button" href="/projects">Go to Section</a>
    </div>
  </div>
</div>
<style>
  .hero {
    min-height: 20%;
  }
</style>
