---

---

<section id="tech-stack" class="mb-8 mt-2 flex flex-col gap-2">
  <h1 class="font-semibold mb-2 text-xl text-secondary">My TechStack</h1>
  <p class="text-3xl sm:text-4xl font-extrabold">
    Building Things. One step at a time.
  </p>
  <div class="mt-4 prose">
    <hr />
    <h2>Development principles</h2>
    <ul>
      <li>
        I write my own code. I understand every line of code I ship. I firmly
        believe understanding things is my main job as a developer.
        Understanding things is also much more fun than staying dumb and copying
        solutions.
      </li>
      <li>
        I don't build features with AI. I use AI to write boilerplate, refactor
        stuff according to exact specifications and brainstorm, but it will
        never ship my code. I try to limit my AI usage as much as possible due
        to the detrimental effects it has on society and our planet. Wherever
        possible, I try to use local models on my machine.
      </li>
      <li>
        I write free software. I may only have a quarter of the ability of an
        average Linux neckbeard, but double the ideology.
      </li>
      <li>
        I hold myself to the highest standard and I focus on details.
        Perfectionism is not something you put in your LinkedIn CV as fake
        weakness.
      </li>
      <li>
        I don't reinvent the wheel and I work with the platform. There is no
        need to ship a gazillion megabytes of JavaScript when browser APIs
        exist. Every dependency is a cost.
      </li>
    </ul>

    <hr />

    <blockquote>
      An idiot admires complexity - a genius admires simplicity.
    </blockquote>
    <p>
      <cite
        >—IDK, someone much smarter than me probably. Or random Reddit user <code
          >effervescent-potato-5367</code
        >.
      </cite>
    </p>

    <h2>Area of expertise</h2>
    <ul>
      <li>Backend web development (Go, PHP, Swift, Kotlin)</li>
      <li>Frontend web development (TypeScript, Svelte)</li>
      <li>
        Mobile App development (Android - Jetpack Compose, previously SwiftUI
        for Apple platforms)
      </li>
    </ul>
  </div>

  <section></section>
</section>
