---

---

<section id="tech-stack" class="mb-8 mt-2 flex flex-col gap-2">
  <h1 class="font-semibold mb-2 text-xl text-secondary">My TechStack</h1>
  <p class="text-3xl sm:text-4xl font-extrabold">
    Building Things. One step at a time.
  </p>
  <div class="mt-4 prose">
    <hr />
    <h2>Development principles</h2>
    <ul>
      <li>
        I write my own code. I understand every line of code I ship. I firmly
        believe understanding things is my main job as a developer.
        Understanding things is also much more fun than staying dumb and copying
        solutions.
      </li>
      <li>
        I don't build features with AI. I use AI to write boilerplate, refactor
        stuff according to exact specifications and brainstorm, but it will
        never ship my code. I try to limit my AI usage as much as possible due
        to the detrimental effects it has on society and our planet. Wherever
        possible, I try to use local models on my machine.
      </li>
      <li>
        I write free software. I may only have a quarter of the ability of an
        average Linux neckbeard, but double the ideology.
      </li>
      <li>
        I hold myself to the highest standard and I focus on details.
        Perfectionism is not something you put in your LinkedIn CV as fake
        weakness.
      </li>
      <li>
        I don't reinvent the wheel and I work with the platform. There is no
        need to ship a gazillion megabytes of JavaScript when browser APIs
        exist. Every dependency is a cost.
      </li>
    </ul>

    <hr />

    <blockquote>
      An idiot admires complexity - a genius admires simplicity.
    </blockquote>
    <p>
      <cite
        >—IDK, someone much smarter than me probably. Or random Reddit user <code
          >effervescent-potato-5367</code
        >.
      </cite>
    </p>

    <h2>Area of expertise</h2>
    <ul>
      <li>Backend web development (Go, PHP, Swift, Kotlin)</li>
      <li>Frontend web development (TypeScript, Svelte)</li>
      <li>
        Mobile App development (Android - Jetpack Compose, previously SwiftUI
        for Apple platforms)
      </li>
    </ul>
  </div>

  <section class="mb-8">
    <header>
      <h2 class="text-2xl font-bold">Currently using</h2>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 justify-items-center my-4"
    >
      <article
        class="card card-compact w-full bg-base-200 border-2 border-emerald-400"
      >
        <figure>
          <img
            class="max-w-[45%] mt-5"
            src="/jetpack_compose_icon.png"
            alt="Jetpack Compose logo"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Jetpack Compose</h2>
          <p>
            The modern declarative UI toolkit by Google, mostly for Android, but
            also usable for cross-platform desktop apps.
          </p>
          <div class="card-actions justify-end mt-2">
            <div class="badge badge-outline">Android</div>
            <div class="badge badge-outline">Desktop</div>
          </div>
        </div>
      </article>

      <article
        class="card card-compact w-full bg-base-200 border-2 border-orange-600"
      >
        <figure>
          <img
            class="max-w-[40%] mt-6"
            src="/Svelte_Logo.svg"
            alt="Svelte logo"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Svelte</h2>
          <p>
            Framework for JavaScript / TypeScript for beautiful and fast web
            applications that run in every modern browser.
          </p>
          <div class="card-actions justify-end mt-2">
            <div class="badge badge-outline">Web</div>
          </div>
        </div>
      </article>

      <article
        class="card card-compact w-full bg-base-200 border-2 border-amber-500"
      >
        <figure>
          <img
            class="max-w-[50%] mt-5"
            src="/TYPO3-Logo.svg"
            alt="TYPO3 logo"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">TYPO3</h2>
          <p>
            The world's leading enterprise CMS, suitable for every website
            ranging from small representations for individuals to full-scale
            multilingual content hubs.
          </p>
          <div class="card-actions justify-end mt-2">
            <div class="badge badge-outline">Web</div>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section>
    <header>
      <h2 class="text-2xl font-bold">Used in the past</h2>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 justify-items-center my-4"
    >
      <article
        class="card card-compact w-full bg-base-200 border-2 border-blue-500"
      >
        <figure>
          <img
            class="max-w-[50%] mt-5"
            src="/swiftui-og.png"
            alt="SwiftUI logo"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">SwiftUI</h2>
          <p>
            Declarative UI framework that allows the creation of apps for all
            Apple platforms with maximum code reusability.
          </p>
          <div class="card-actions justify-end mt-2">
            <div class="badge badge-outline">macOS</div>
            <div class="badge badge-outline">iOS</div>
            <div class="badge badge-outline">watchOS</div>
            <div class="badge badge-outline">tvOS</div>
          </div>
        </div>
      </article>
    </div>
  </section>
</section>
