---
---
<section id="tech-stack" class="mb-8 mt-2 flex flex-col gap-2">
    <h1 class="font-semibold mb-2 text-xl text-secondary">My TechStack</h1>
    <p class="text-3xl sm:text-4xl font-extrabold">Building UI. One step at a time.</p>
    <div class="mt-4 max-w-3xl space-y-6">
        <p>Originally a backend developer by trade and proper training, for my personal projects my biggest passion is
        the creation of beautiful user interfaces for mobile, desktop and web applications. I have the most experience
        with modern declarative UI frameworks.</p>
        <p>I aim for cross-platform compatibility where possible, but I place a bigger emphasis on applications really blending in
        with the overall look and feel of the platform they're running on
            (i.e. <a class="link" target="_blank" href="https://m3.material.io/">Material 3</a> on Android,
            <a class="link" target="_blank" href="https://developer.apple.com/design/human-interface-guidelines/">Apple HIG</a> on
            macOS/iOS).</p>
    </div>
</section>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 justify-items-center my-4">
    <div class="card card-compact w-full bg-base-200 border-2 border-blue-500">
        <figure><img class="max-w-[50%] mt-5" src="/swiftui-og.png" alt="SwiftUI logo" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                SwiftUI
            </h2>
            <p>Declarative UI framework that allows the creation of apps for all Apple platforms with maximum code reusability.</p>
            <div class="card-actions justify-end mt-2">
                <div class="badge badge-outline">macOS</div>
                <div class="badge badge-outline">iOS</div>
                <div class="badge badge-outline">watchOS</div>
                <div class="badge badge-outline">tvOS</div>
            </div>
        </div>
    </div>
    <div class="card card-compact w-full bg-base-200 border-2 border-emerald-400">
        <figure><img class="max-w-[45%] mt-5" src="/jetpack_compose_icon.png" alt="Jetpack Compose logo" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                Jetpack Compose
            </h2>
            <p>The modern declarative UI toolkit by Google, mostly for Android, but also usable for cross-platform desktop apps.</p>
            <div class="card-actions justify-end mt-2">
                <div class="badge badge-outline">Android</div>
                <div class="badge badge-outline">Desktop</div>
            </div>
        </div>
    </div>
    <div class="card card-compact w-full bg-base-200 border-2 border-orange-600">
        <figure><img class="max-w-[40%] mt-6" src="/Svelte_Logo.svg" alt="Svelte logo" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                Svelte
            </h2>
            <p>Framework for JavaScript / TypeScript for beautiful and fast web applications that run in every modern browser.</p>
            <div class="card-actions justify-end mt-2">
                <div class="badge badge-outline">Web</div>
            </div>
        </div>
    </div>
    <div class="card card-compact w-full bg-base-200 border-2 border-amber-500">
        <figure><img class="max-w-[50%] mt-5" src="/TYPO3-Logo.svg" alt="TYPO3 logo" /></figure>
        <div class="card-body">
            <h2 class="card-title">
                TYPO3
            </h2>
            <p>The world's leading enterprise CMS, suitable for every website ranging from small representations for individuals to full-scale multilingual content hubs.</p>
            <div class="card-actions justify-end mt-2">
                <div class="badge badge-outline">Web</div>
            </div>
        </div>
    </div>
</div>