---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Apps" description="Links to my custom apps.">
  <div class="flex flex-col min-w-full md:w-screen max-w-[90%] lg:max-w-[70%]">
    <div class="prose">
      <h1>Apps</h1>
      <p>This section contains links with some mandatory legal and marketing info for App Store and Google Play Pages for
        my custom apps. It might get more fancy styling later.
      </p>
      <a href="/apps/germansucks">German Sucks (Android)</a>
    </div>
  </div>
</Layout>
