---
import { getCollection } from "astro:content";
import CodeExampleSection from "../components/astro/code/CodeExampleSection.astro";
import Layout from "../layouts/Layout.astro";
import { OpenGraphDefaults } from "../lib/classes/OpenGraphDefaults";

const pageTitle = "Main";
const metaTags = {
  title: pageTitle,
  openGraph: OpenGraphDefaults.getOpenGraphObject(
    Astro.url,
    pageTitle,
    OpenGraphDefaults.description,
  ),
};

const languages = await getCollection("languages");
---

<Layout title={pageTitle} metaTags={metaTags}>
  <article class="hero card">
    <div class="hero-content">
      <div class="hero-text-block">
        <h1 class="">David the Dev</h1>
        <p class="py-6">
          I transform zeros, ones and caffeine into [object Object].
        </p>
        <a href="/contact" class="btn btn-neutral">Get in touch</a>
      </div>

      <figure class="hero-figure">
        <img
          src="/fake_code_photo.webp"
          class="hero-image"
          alt="IDE with code on a dark screen"
        />
        <figcaption>
          <i>
            Obviously I am much better at writing code than taking pictures of
            it. Just kidding.
          </i>
        </figcaption>
      </figure>
    </div>
  </article>

  <div class="middle-grid">
    <article class="link-card card">
      <div class="card-body">
        <h2 class="card-title">My Work</h2>
        <p>Technologies, frameworks and what I build with them</p>
        <div class="card-actions">
          <a href="/tech" class="btn btn-neutral">Go to section</a>
        </div>
      </div>
    </article>

    <article class="link-card card">
      <div class="card-body">
        <h2 class="card-title">My Blog</h2>
        <p>The stuff that nobody reads</p>
        <div class="card-actions">
          <a href="/blog" class="btn btn-neutral">Go to section</a>
        </div>
      </div>
    </article>

    <article class="link-card card">
      <div class="card-body">
        <h2 class="card-title">Open source contributions</h2>
        <p>Giving back to the Open Source and Free Software communities</p>
        <div class="card-actions">
          <a href="/tech/foss" class="btn btn-neutral">Go to section</a>
        </div>
      </div>
    </article>
  </div>

  <CodeExampleSection codeSamples={languages.map((lang) => lang.data)} />
</Layout>

<style>
  .hero-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
    place-content: center;

    @media (min-width: 32rem) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .middle-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);
    justify-items: center;
    margin-block: var(--space-6);

    @media (min-width: 48rem) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .link-card {
    width: 100%;

    .card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
</style>
