---
import Layout from '../layouts/Layout.astro';
import {OpenGraphDefaults} from '../lib/classes/OpenGraphDefaults';
import CodeExampleSection from '../components/svelte/home/CodeExampleSection.svelte';

const pageTitle = 'Main';
const metaTags = {
  title: pageTitle,
  openGraph: OpenGraphDefaults.getOpenGraphObject(Astro.url, pageTitle, OpenGraphDefaults.description),
};
---

<Layout title={pageTitle} metaTags={metaTags}>
  <div class="hero bg-base-200 p-5 md:p-20 border-2 border-neutral-content rounded-2xl mb-4 shadow-xl">
    <div class="hero-content flex-col lg:flex-row-reverse space-y-3">
      <div class="flex flex-col gap-2 max-w-xs">
        <img src="/fake_code_photo.webp" class="max-w-full lg:max-w-sm rounded-lg shadow-2xl"
             alt="IDE with code on a dark screen"/>
        <p class="text-sm italic">Obviously I am much better at writing code than taking pictures of it.</p>
      </div>

      <div class="max-w-2xl">
        <h1 class="text-5xl font-bold">Hi! I'm David.</h1>
        <p class="py-6">I transform zeros, ones and caffeine into beautiful and functional web and mobile
          applications.</p>
        <a href="/contact" class="btn btn-neutral">Get in touch</a>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center my-4">
    <div class="card w-full bg-base-200 shadow-xl border-2 border-neutral-content">
      <div class="card-body">
        <h2 class="card-title">My Work</h2>
        <p>Technologies, frameworks and what I build with them</p>
        <div class="card-actions justify-end">
          <a href="/tech" class="btn btn-neutral">Go to section</a>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-200 shadow-xl border-2 border-neutral-content">
      <div class="card-body">
        <h2 class="card-title">Open source contributions</h2>
        <p>Giving back to the Open Source and Free Software communities</p>
        <div class="card-actions justify-end">
          <a href="/tech/foss" class="btn btn-neutral">Go to section</a>
        </div>
      </div>
    </div>
  </div>

  <CodeExampleSection client:load/>
</Layout>
