---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>

  <div class="flex flex-col min-w-full md:w-screen max-w-[90%] lg:max-w-[70%]">
    <div class="prose">
      <h1>Data protection statement according to ยง 13 TMG for the App "German Sucks"</h1>
      <p>This statement is intended to inform visitors about the policies regarding the collection, use and disclosure
        of personal information.</p>
      <p>If you choose to use the app, you consent to the collection and use of information in accordance with this
        policy.
        The information I collect will be used to provide and improve the service. I will only use or share your
        information as described in this Privacy Policy.
      </p>
      <p>The app &quot;German Sucks&quot; was developed by David Battefeld as a free and open source app without
        intention of any making any profit.
        It is an app for providing humorous German words to save and share.</p>
      <p>Publisher or operator in the sense of these rules is solely:</p>
      <p>David Battefeld<br>
        Leibnizstrasse 40<br>
        10629 Berlin<br>
        <a href="mailto:davidbattefeld+apps@gmail.com">davidbattefeld+apps@gmail.com</a>
        (hereinafter &quot;operator&quot;)</p>
      <h2>1. What data is collected</h2>
      <p>The app does not collect any personal data. There is no possibility to enter or store names, mail addresses,
        phone numbers, IP addresses or similar data. Such data is also not read from device memory, otherwise collected
        or linked.</p>
      <p>There is also no app tracking of any kind. The app does not collect usage statistics.</p>
      <h2>2. Data Sharing with Third Parties</h2>
      <p>Since no personal data is collected, it cannot be shared with third parties.</p>
      <h2>3. Log data/crash reports</h2>
      <p>When using the App, data and information may be collected on your device in the event of an error in the App,
        which is referred to as log data.
        This log data may include information such as the device name, the version of the operating system, the
        configuration of the App when you use my Service, the time and date of your use of the Service, and other
        statistics. All of this data is generally completely anonymous and cannot be traced to individual devices or
        users.</p>
      <h2>4. Use of external data</h2>
      <p>The app uses a spell-checking word list compiled at <a href="https://sourceforge.net/projects/germandict/">https://sourceforge.net/projects/germandict/</a>,
        licensed as Public Domain.
        The app provider assumes no responsibility for the accuracy, completeness or timeliness of the displayed data
        obtained.</p>
      <h2>5. Links to other sites</h2>
      <p>The App may contain links to other websites. When you click on a third party link, you will be redirected to
        that site. Note that these external sites are not operated by the operator of this app. The latter therefore
        strongly recommends that you read the privacy policies of these websites. The Operator has no control over, and
        assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or
        services.</p>
      <h2>6. Deletion of all data</h2>
      <p>Deletion of the App will completely erase all data stored on the User&#39;s device. There is no way to recover
        it, as it will not be stored in any other location at any time.
        Any permission to use the user&#39;s calendar as explained in ยง4 must be granted again after reinstalling the
        app.</p>
      <h2>7. Changes to this privacy policy</h2>
      <p>The operator may update our privacy policy from time to time. We therefore recommend that you regularly check
        this page for changes. The Operator will notify you of any changes by posting the new Privacy Policy on this
        page.</p>
      <p>This privacy policy is valid as of 02/12/2023.</p>

    </div>
  </div>
</Layout>
