---
import CodeBlock from "./CodeBlock.astro";
import { type CodeSampleItem } from "../../../lib/codeSamples.ts";

interface Props {
  codeSamples: CodeSampleItem[];
}

const { codeSamples } = Astro.props;
---

<article class="card">
  <h2>Languages</h2>
  <p>that I use and sometimes love</p>

  <ot-tabs>
    <div role="tablist">
      {
        codeSamples.map((codeSample) => (
          <button role="tab">{codeSample.name}</button>
        ))
      }
    </div>
    {
      codeSamples.map((codeSample) => (
        <div role="tabpanel">
          <CodeBlock lang={codeSample.id} code={codeSample.sample} />
        </div>
      ))
    }
  </ot-tabs>
</article>

<style>
  .sample-container {
    position: relative;
    min-height: 500px;
  }
</style>
