---
import { OpenGraphDefaults } from "../../lib/classes/OpenGraphDefaults";
import Layout from "../../layouts/Layout.astro";
const pageTitle = "My thoughts on Free Software";
const description = "I believe in the importance of free as in freedom.";

const metaTags = {
  title: pageTitle,
  description: description,
  openGraph: OpenGraphDefaults.getOpenGraphObject(
    Astro.url,
    pageTitle,
    description,
  ),
};
---

<Layout title={pageTitle} description={description} metaTags={metaTags}>
  <div class="prose">
    <section id="foss-intro" class="mb-8 mt-2">
      <p class="font-semibold mb-2 text-xl text-warning">Open Source</p>
      <h1>My views on free software</h1>
      <div>
        <p>
          I believe in the spirit of collective engagement, mutual collaboration
          and sharing that the free software movement envisions. Almost none of
          my work would be possible without contributions by countless
          programmers much smarter than me.
        </p>
        <p>
          I did not consider myself to be a hardcore GNU/Linux traditionalist
          for a long time as I had too much of a soft spot for the macOS design
          language and the polished user interfaces in the Apple ecosystem.
        </p>
        <p>
          However, after years of trying to develop for the platform with
          constant developer-hostile changes, the unbearable bickering with the
          EU over the right to install software <i>on your own devices</i> and the
          overall ongoing AI slopification forced me to reconsider. I aim to find
          a similar level of polish in the GNOME community instead.
        </p>
      </div>
    </section>
    <section id="foss-essay" class="prose">
      <h2>Learnings from my experience as a user</h2>
      <p>
        As I have been using software and technology for far longer than I have
        been writing it, I have come to experience a lot of the pain points that
        plague the modern tech landscape:
      </p>
      <ul>
        <li>
          General tendencies to take away user agency (locked down mobile
          operating systems, restrictions on what users can do with their
          devices)
        </li>
        <li>Focus on hostile monetisation like subscription models</li>
        <li>Planned obsolescence</li>
        <li>Intentional vendor lock-in effects</li>
        <li>Ruthless tracking and data collection mechanisms</li>
        <li>
          General superficial viewpoints on free software as inferior/unfit for
          serious business
        </li>
      </ul>
      <h2>Guiding principles for my own work</h2>
      <p>
        What I try to achieve for my own personal projects (i.e. aside from my
        day job) to counter these tendencies is the following (even though as a
        relative beginner I am obviously not yet in a position where my work is
        useful for anyone else):
      </p>
      <ul>
        <li>
          Publish my work under open source licenses and make them publicly
          available
        </li>
        <li>
          Use GPL v3 and AGPL license to keep everything I build free as in
          freedom
        </li>
        <li>
          Never use user-hostile tracking mechanisms (no fingerprinting and
          other PII stuff)
        </li>
        <li>Aim for cross-platform solutions where possible/feasible</li>
        <li>
          Contribute to existing FOSS projects once my skills allow for that
        </li>
      </ul>
      <div class="divider"></div>
      <blockquote>
        <p>Don't be evil - like, for real this time.</p>
      </blockquote>
      <p class="italic">- me</p>
    </section>
  </div>
</Layout>
